{% extends 'base.html.twig' %}

{% block title %}Créer Sortie | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div id="formCreate">
        {{ form_start(sortieForm) }}
        {% include 'sortie/form_sortie.html.twig' %}
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}



